.imagecontainer{
    width: 100%;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev{
  color: lavenderblush;
  
  }
  
.swiper-pagination .swiper-pagination-bullet{
  opacity: 1;
  background-color: #df6060;

}

  .swiper-pagination .swiper-pagination-bullet-active{
    background-color: aliceblue;
    width: 3rem;
    height: 1rem;
    border-radius: .7rem;
  }
    
