body{
  background-image: linear-gradient(to right, #7e787e, #977e96, #b283ae, #ce87c6, #eb89dc);
}

.bimg{

  background-image: url("../images/girl1.png");
  height: 100vh;
  background-repeat: no-repeat;

}

.header{
  display: block;
  overflow: hidden;
  color: white;
  text-align: center;
}

.searchblock{
  background-color: gainsboro;
}


.searchbar{
  width: 600px;
}
.titleblock{
  display: flex;
  justify-content: space-between;  
  color: white;
}

.logo{
  color: white;
  background-image: linear-gradient(violet, blue);
  padding: 20px 80px;
  
  
}

.slogan{
  text-align: center;

}
ul{
  display: flex;
  list-style-type: none;
  gap: 20px 30px;
  padding: 20px;
  
}

.menu1{
  color: blue;
}


li{
  float: left;
  
}

li a{
  padding:20px 20px ;
  text-decoration: none;
  color: white;
}






/* .imagecontainer{
    width: 100%;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev{
  color: lavenderblush;
  
  }
  
.swiper-pagination .swiper-pagination-bullet{
  opacity: 1;
  background-color: #df6060;

}

  .swiper-pagination .swiper-pagination-bullet-active{
    background-color: aliceblue;
    width: 3rem;
    height: 1rem;
    border-radius: .7rem;
  }


  body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  } */
}