body{
  background-image: linear-gradient(to right, #7e787e, #977e96, #b283ae, #ce87c6, #eb89dc);
}

.bimg{

  background-image: url("../images/girl1.png");
  height: 100vh;
  background-repeat: no-repeat;

}

.bee{

/* text-align: left;
justify-items: left;
padding-left: 20px;
height: 20px;
width: 300px;
display: block; */
/* padding-top: 40px; */


}

.header{
  display: block;
  overflow: hidden;
  color: white;
  text-align: center;
}

.searchblock{
  background-color: gainsboro;
}


.searchbar{
  width: 600px;
  padding: 5px;

}
.titleblock{
  display: flex;
  justify-content: space-between;  
  color: white;
}

.logo{
  color: white;
  background-image: linear-gradient(violet, blue);
  padding: 20px 80px;
  
}

.slogan{
  text-align: center;

}
ul{
  display: flex;
  list-style-type: none;
  gap: 20px 30px;
  padding: 20px;
  
}

.menu1{
  color: blue;
}


li{
  float: left;
  
}

li a{
  padding:20px 20px ;
  text-decoration: none;
  color: white;
}

/* .Registration-form{
  position: absolute;
  top: 50%;
  left: 70%;
  width: 350px;
  /* justify-content: space-between; */
/* }

.Registration-form h1{

  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  /* margin: 40px 0; */

/* }
.Registration-form p{
  font-size: 20px;
  margin: 15px 0;
}

.Registration-form input{
  font-size: 16px;
  padding: 10px;
  width: 70%;
  border: 0;
  border-radius: 5px;
  outline: none; */ 

/* } */

/* .Registration-form button{
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 10px;
  width: 50%;
  border: 0;
  border-radius: 5px;
  background-color: grey;
}

.Registration-form button:hover{
  color: aliceblue;
} */


/* .imagecontainer{
    width: 100%;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev{
  color: lavenderblush;
  
  }
  
.swiper-pagination .swiper-pagination-bullet{
  opacity: 1;
  background-color: #df6060;

}

  .swiper-pagination .swiper-pagination-bullet-active{
    background-color: aliceblue;
    width: 3rem;
    height: 1rem;
    border-radius: .7rem;
  }


  body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  } */
