body{

  background-image: linear-gradient(to right, #7e787e, #977e96, #b283ae, #ce87c6, #eb89dc);
}


.homepage{

  background-image: linear-gradient(to right, #cfc3f0, #c8c8f3, #c3cdf6, #bed2f6, #bbd6f6, #bdd6f7, #bed6f7, #c0d6f8, #c8d1f9, #d3ccf7, #e0c6f2, #ecc0e9);
}

.abtpage{
  background-image: linear-gradient(to right, #f9edf4, #f4ebf7, #ecebfa, #e3ebfb, #d8ebfa, #d2ebf9, #cbeaf7, #c5eaf4, #c1e9f4, #bce9f3, #b8e8f3, #b3e8f2);
  
} 

.nav{
display: block;
float: left;
gap: 30px;
}







.homepage .btn{
display: block;
float: right;
width: 150px;
height: 45px;
background-color: white;
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0, 0, 0, .1);
cursor: pointer;
font-size: 16px;
font-weight: 600;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
}

.bimg{

  background-image: url("../images/girl1.png");
  height: 100vh;
  background-repeat: no-repeat;

}

img{
  width: 100px;
  height: 100px;
}

.para{
  font-family:  Helvetica;
  font-size: medium;
  padding: 20px 20px;
  gap: 20px;
  
}


.header{
  display: block;
  overflow: hidden;
  color: white;
  text-align: center;
}

.searchblock{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}


.searchbar{
  width: 600px;
  padding: 5px;

}
.titleblock{
  display: flex;
  justify-content: space-between;  
  color: white;
}

.logo{
  color: white;
  background-image: linear-gradient(violet, blue);
  padding: 20px 80px;
  
}

.slogan{
  text-align: center;

}
ul{
  display: flex;
  list-style-type: none;
  gap: 20px 30px;
  padding: 20px;
  
}

.menu1{
  color: blue;
}


li{
  float: left;
  
}

li a{
  padding:20px 20px ;
  text-decoration: none;
  color: white;
}

/* .Registration-form{
  position: absolute;
  top: 50%;
  left: 70%;
  width: 350px;
  /* justify-content: space-between; */
/* }

.Registration-form h1{

  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  /* margin: 40px 0; */

/* }
.Registration-form p{
  font-size: 20px;
  margin: 15px 0;
}

.Registration-form input{
  font-size: 16px;
  padding: 10px;
  width: 70%;
  border: 0;
  border-radius: 5px;
  outline: none; */ 

/* } */

/* .Registration-form button{
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 10px;
  width: 50%;
  border: 0;
  border-radius: 5px;
  background-color: grey;
}

.Registration-form button:hover{
  color: aliceblue;
} */


.imagecontainer{
    width: 100%;
    height: 50%;
}

.swiper {
  width: 1100px;
  height: 600px;
}
.swiper img{
 
  width: 1100px;
  height: 600px;
}
.swiper .swiper-button-next, .swiper .swiper-button-prev{
  color: lavenderblush;
  
  }
  
.swiper-pagination .swiper-pagination-bullet{
  opacity: 1;
  background-color: #f8f6f6;

}

  .swiper-pagination .swiper-pagination-bullet-active{
    background-color: aliceblue;
    width: 3rem;
    height: 1rem;
    border-radius: .5rem;
  }


  /* body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  } 
} */

  